---
title: contact
layout: layout.njk
theme: bubblegum
---

<header class="section">
    {% include "bits/navigation.njk" %}
    <h1>contact</h1>
</header>

<div class="stuff">
    <main>
        you can now talk to me (leah clark) using a computer

        <h2>if you actually want a response</h2>
        <p>just send me an email. my address is the domain of this website if you replace the first dot with an at
            symbol.</p>
        <h2>socials</h2>
        <p>i use these for a normal amount of time. response times will vary wildly depending on my mental state.</p>
        <p>these are slowly being repurposed as places where i syndicate my <a href="/blog/">blog</a></p>
        <ul>
            <li><a href="https://tilde.zone/@leah">mastodon</a></li>
            <li><a href="https://thatcher-gaming.tumblr.com">tumblr</a></li>
            <li>
                <a href="https://cohost.org/leahc"> cohost? sure</a>. i used to have @leah on here but i deleted it on
                account of some questionable moderation decisions and then found out they had immediately reversed them.
                yes i'm still mad about that.
            </li>
            <li>
                doesn't really count but i'm @benfoldsofficial on discord. you should join
                <a target="_blank" href="https://discord.gg/teeteecee">our cool server</a>
            </li>
            <li><a href="https://bsky.app/profile/leah.pronounmail.com">bluesky</a>. i don't use this one much.</li>
        </ul>
        <h2>computer websites</h2>
        <p>as someone who often computes, i have accounts on many websites dedicated to going on the computer.</p>
        <ul>
            <li><a href="/code/">the leah clark website</a></li>
            <li><a href="https://sr.ht/~leah">sourced hut</a></li>
            <li><a href="https://github.com/thatcher-gaming">github</a></li>
            <li><a href="https://codeberg.org/leahc">codeberg</a></li>
        </ul>
    </main>
</div>