---
layout: base.njk
head: |
    <link rel="stylesheet" href="/assets/homepage.css">
---

<main>
    <header>
        <h1><em class="name">leah clark</em> on the world wide web</h1>
    </header>

    <div class="kinks">
        <div class="lede">
            <p>
                hello! i am some kind of transgender woman (she her) who often makes things and
                puts them on the internet. <br> this is my interesting website; please peruse the
                links below and <a href="/contact">say hello</a>.
            </p>
        </div>

        <a href="/blog" style="--colour: var(--colour-aubergine-500)">blog</a>
        <a href="/contact" style="--colour: var(--colour-bubblegum-500)">contact</a>
        <a href="/outside" style="--colour: var(--colour-yellow-500)">outside</a>
        <a href="/code" style="--colour: var(--colour-ectoplasm-500)">computer</a>
        <a href="/links" style="--colour: var(--colour-weezer-500)">links</a>
        <a href="/etc" style="--colour: var(--colour-grey-950)">more</a>
    </div>
</main>