---
layout: base.njk
head:
    <link rel="stylesheet" href="/assets/homepage.css">
---

<main>
    <header>
        <h1>leah clarg online</h1>
        <p class="intro">
            hello. i am transgender. i have used a computer before and i am not
            afraid to use one again.
            <br><em>welcome to my web page</em>.
        </p>
    </header>

    <a class="big" href="/blog">blog</a>
    <a class="big" href="/contact">contact</a>
    <a class="big" href="/outside">outside</a>
    <a class="big" href="/code">computer</a>
    <a class="big" href="/links">links</a>
    <a class="big" href="/etc">more</a>
</main>