---
title: dinks
layout: layout.njk
theme: weezer
---

<header class="section">
    {% include "bits/navigation.njk" %}
    <h1>binks</h1>
</header>

<div class="stuff">
    <p>
        this is a list of web pages i think are cool and or fun. now that every
        search engine is useless, writing this page this constitutes heroism.
    </p>

    <h2>friends of the site</h2>

    <ul>
        <li><a target="_blank" href="https://guywith.dog">dog, guy with</a></li>
        <li><a target="_blank" href="https://hellomynameisjoe.pronounmail.com/">hellomynameisjoe</a></li>
        <li><a target="_blank" href="https://onleofans.com">Leo Wattenberg</a></li>
        <li><a target="_blank" href="https://thesamplemotion.pronounmail.com/">TheSampleMotion</a></li>
        <aside style="font-size: .8rem;">
            <p>
                (if i know you from somewhere and you're not on this list please send me your website and i will put you
                on
                this list)
            </p>
        </aside>
    </ul>

    <h2>worlb wibe web</h2>

    <p>you should have a website, i think! here are some cool resources for doing that:</p>

    <ul>
        <li>
            <a target="_blank" href="https://neocities.org">neocities</a> is the webhost of choice for many.
            it comes with a web-based html editor and so on. it's pretty good!
        </li>
        <li>
            every <a target="_blank" href="https://pronounmail.com">pronounmail</a> account comes with
            free web hosting. i would call this shameless self-promotion but i am actively losing money
            on this.
        </li>
        <li>
            <a target="_blank" href="https://developer.mozilla.org/">MDN</a>
            has a pretty good
            <a target="_blank"
                href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics">HTML
                guide</a>, as well as containing all the reference material you could ever need.
        </li>
        <li>
            i would advise steering clear of "w3schools".
            their materials are still chock-full of straight up misinformation.
        </li>
        <li>
            <a target="_blank" href="https://fonts.google.com">Google Fonts</a> has many free fonts you can use with
            abadon. i'm pretty sure this is the last cool thing google still supports.
        </li>
    </ul>

    {# <h2>i think i hauve Covid</h2> #}

    <h2>blogs i enjoy reading</h2>

    <ul>
        <li>
            Cory Doctorow's
            <a href="https://pluralistic.net/" target="_blank" rel="noreferrer">Pluralistic</a>
            covers computer industry happenings from the perspective of an anti-DRM Disney adult.
        </li>
        <li>
            Molly White's
            <a href="https://www.citationneeded.news/" target="_blank" rel="noreferrer">Citation Needed</a>
            covers the various nightmares perennially occuring in the cryptocurrency industry.
        </li>
        <li>
            <a target="_blank" rel="noreferrer" href="https://www.htmhell.dev">HTMHell</a> contains many
            tips for writing html real good.
        </li>
    </ul>

    <p>more to come!</p>

    <h2>publications of note</h2>

    <h2>friendly spaces</h2>
</div>