<footer class="site-footer">
    <h1>leah clark</h1>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
    <span aria-hidden>leah clark</span>
</footer>