<nav class="site">
    <a href="/"><b>leah.pronounmail.com</b></a>
    <a href="/blog">blog</a>
    <a href="/contact">say hello</a>
    <a href="/links">links</a>
    <a href="/etc">other things</a>
</nav>