<nav class="neo">
    <a href="/"><b>leah clark the website</b></a>
    <a href="/blog">blog</a>
    <a href="/contact">contact</a>
    <a href="/outside">outside</a>
    <a href="/code">computer</a>
    <a href="/links">links</a>
    <a href="/etc">etc</a>
</nav>