---
title: computer
layout: layout.njk
theme: ectoplasm
---

<header class="section">
    {% include "bits/navigation.njk" %}
    <h1>computer</h1>
</header>

<div class="stuff">
    <p>
        eventually i'll migrate my code onto this site. for now, check out my
        <a href="https://sr.ht/~leah">sourcehut page</a>
    </p>

    {% for forge, repos in repos %}
        <h2>{{ forge }}</h2>
        {% for repo in repos %}
            {{ repo.name }}
        {% endfor %}
    {% endfor %}

</div>