---
layout: layout.njk
theme: ectoplasm
---

<header class="section">
    {% include "bits/navigation.njk" %}
    <h1>computer</h1>
</header>

<div class="stuff">
    <p>
        eventually i'll migrate my code onto this site. for now, check out my 
        <a href="https://sr.ht/~leah">sourcehut page</a>
    </p>
</div>