<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + " — " if title }}leah's web site</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="shortcut icon" href="{% favicon %}" type="image/svg+xml">

    {# gooble fonts #}
    {# todo: self host #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap"
        rel="stylesheet">

    <link rel="me" href="https://h.pronounmail.com/@leah">
    <script defer src="https://anal.pronounmail.com/script.js" data-website-id="a457cd01-b2ab-403e
        -b999-f285fd72e8dd"></script>

    {{ head | safe }}
    {% renderblock "head" %}
</head>

<body>
    {{ content | safe }}
</body>

</html>