<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + " — " if title }}leah's web site</title>
    <link rel="stylesheet" href="/assets/main.css">

    {# gooble fonts #}
    {# todo: self host #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap"
        rel="stylesheet">

    <link rel="me" href="https://tilde.zone/@leah">

    {{ head | safe }}
</head>

<body>
    {{ content | safe }}
</body>

</html>