---
title: cats
layout: layout.njk
theme: brown
---

<header class="section">
    {% include "bits/navigation.njk" %}
    <h1>cats</h1>
</header>

<div class="stuff">
    <p>
        these people have paid upwards of $25 to put a picture of their cat
        on this page, and <a href="https://github.com/sponsors/thatcher-gaming">you can too</a>!!
    </p>

    <h2><a href="https://github.com/teetow">@teetow</a></h2>
    <img width="100%" src="/assets/cats/teetow.jpg" alt="some manner of beast is curled up on a bed">
</div>

