main {
    display: grid;
    grid-template-rows: 22rem;
    grid-auto-rows: 8rem;
    min-height: 100dvh;
    gap: 2rem;
    background: linear-gradient(in oklch, white 0,
            white 22rem,
            var(--colour-aubergine-500) 22rem,
            var(--colour-bubblegum-500) 38rem,
            var(--colour-yellow-500) 48rem,
            var(--colour-ectoplasm-500) 58rem,
            var(--colour-weezer-500) 73rem,
            var(--colour-grey-950) 73rem);
    padding-bottom: 1rem;
}

header {
    place-self: center;
    h1 {
        font-size: 16.9vw;
        line-height: .8;
        margin: 0;
        text-transform: uppercase;
        font-stretch: ultra-condensed;
        text-align: center;
        overflow: hidden;
        width: 100vw;
    }
}

.intro {
    margin: 2rem auto;
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 300;
    text-wrap: balance;
    max-width: 40rem;
    text-align: center;
    color: var(--colour-grey-700);
}

a.big {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 8rem;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-stretch: 70%;
    color: var(--colour-grey-200);

    transition: all 250ms cubic-bezier(0.23, 1, 0.320, 1);
    text-shadow: 0 4px 0 rgb(from currentColor r g b / .25);
    mix-blend-mode: hard-light;

    &:hover {
        font-stretch: 80%;
        font-weight: 700;
        color: white;
    }

    &:active {
        font-stretch: 70%;
        font-weight: 300;
    }

    &::before,
    &::after {
        content: ' ◆ ';
        font-size: 2.5rem;
        text-shadow: none;
    }
}