:root {
    --colour-ectoplasm-100: rgba(224, 247, 217, 1);
    --colour-ectoplasm-200: rgba(200, 242, 192, 1);
    --colour-ectoplasm-300: rgba(179, 241, 165, 1);
    --colour-ectoplasm-400: rgba(141, 219, 125, 1);
    --colour-ectoplasm-500: rgba(112, 202, 98, 1);
    --colour-ectoplasm-600: rgba(84, 180, 71, 1);
    --colour-ectoplasm-700: rgba(60, 126, 54, 1);
    --colour-ectoplasm-800: rgba(43, 92, 47, 1);
    --colour-ectoplasm-900: rgba(32, 74, 32, 1);
    --colour-ectoplasm-950: rgba(21, 53, 21, 1);
    --colour-ectoplasm-50: rgba(246, 253, 244, 1);
    --colour-aubergine-100: rgba(238, 229, 250, 1);
    --colour-aubergine-200: rgba(224, 207, 246, 1);
    --colour-aubergine-300: rgba(196, 158, 244, 1);
    --colour-aubergine-400: rgba(157, 97, 232, 1);
    --colour-aubergine-500: rgba(127, 48, 225, 1);
    --colour-aubergine-600: rgba(110, 42, 197, 1);
    --colour-aubergine-700: rgba(85, 30, 154, 1);
    --colour-aubergine-800: rgba(62, 22, 113, 1);
    --colour-aubergine-900: rgba(48, 13, 93, 1);
    --colour-aubergine-950: rgba(28, 4, 56, 1);
    --colour-aubergine-50: rgba(248, 244, 253, 1);
    --colour-weezer-100: rgba(216, 237, 245, 1);
    --colour-weezer-200: rgba(192, 226, 240, 1);
    --colour-weezer-300: rgba(153, 206, 227, 1);
    --colour-weezer-400: rgba(107, 186, 221, 1);
    --colour-weezer-500: rgba(75, 164, 212, 1);
    --colour-weezer-600: rgba(65, 146, 191, 1);
    --colour-weezer-700: rgba(51, 117, 160, 1);
    --colour-weezer-800: rgba(36, 84, 119, 1);
    --colour-weezer-900: rgba(25, 62, 86, 1);
    --colour-weezer-950: rgba(13, 39, 54, 1);
    --colour-weezer-50: rgba(244, 250, 253, 1);
    --colour-yellow-100: rgba(251, 244, 200, 1);
    --colour-yellow-200: rgba(247, 234, 156, 1);
    --colour-yellow-300: rgba(244, 227, 126, 1);
    --colour-yellow-400: rgba(241, 218, 91, 1);
    --colour-yellow-500: rgba(239, 202, 54, 1);
    --colour-yellow-600: rgba(225, 175, 15, 1);
    --colour-yellow-700: rgba(192, 139, 16, 1);
    --colour-yellow-800: rgba(128, 90, 34, 1);
    --colour-yellow-900: rgba(86, 63, 24, 1);
    --colour-yellow-950: rgba(58, 39, 9, 1);
    --colour-yellow-50: rgba(254, 252, 240, 1);
    --colour-orange-100: rgba(248, 225, 214, 1);
    --colour-orange-200: rgba(245, 207, 192, 1);
    --colour-orange-300: rgba(238, 175, 152, 1);
    --colour-orange-400: rgba(233, 144, 112, 1);
    --colour-orange-500: rgba(233, 124, 87, 1);
    --colour-orange-600: rgba(225, 87, 46, 1);
    --colour-orange-700: rgba(198, 69, 30, 1);
    --colour-orange-800: rgba(127, 49, 25, 1);
    --colour-orange-900: rgba(97, 36, 17, 1);
    --colour-orange-950: rgba(55, 20, 7, 1);
    --colour-orange-50: rgba(252, 244, 239, 1);
    --colour-red-100: rgba(244, 217, 220, 1);
    --colour-red-200: rgba(240, 187, 196, 1);
    --colour-red-300: rgba(237, 163, 171, 1);
    --colour-red-400: rgba(231, 136, 145, 1);
    --colour-red-500: rgba(218, 85, 96, 1);
    --colour-red-600: rgba(217, 57, 64, 1);
    --colour-red-700: rgba(189, 43, 46, 1);
    --colour-red-800: rgba(159, 36, 39, 1);
    --colour-red-900: rgba(123, 26, 29, 1);
    --colour-red-950: rgba(62, 10, 14, 1);
    --colour-red-50: rgba(251, 240, 241, 1);
    --colour-bubblegum-100: rgba(247, 219, 235, 1);
    --colour-bubblegum-200: rgba(238, 187, 216, 1);
    --colour-bubblegum-300: rgba(236, 163, 205, 1);
    --colour-bubblegum-400: rgba(234, 143, 196, 1);
    --colour-bubblegum-500: rgba(228, 108, 175, 1);
    --colour-bubblegum-600: rgba(223, 72, 153, 1);
    --colour-bubblegum-700: rgba(176, 46, 113, 1);
    --colour-bubblegum-800: rgba(131, 35, 87, 1);
    --colour-bubblegum-900: rgba(93, 20, 58, 1);
    --colour-bubblegum-950: rgba(56, 9, 35, 1);
    --colour-bubblegum-50: rgba(252, 239, 247, 1);
    --colour-grey-100: rgba(238, 238, 238, 1);
    --colour-grey-200: rgba(218, 218, 218, 1);
    --colour-grey-300: rgba(199, 198, 200, 1);
    --colour-grey-400: rgba(153, 148, 154, 1);
    --colour-grey-500: rgba(128, 124, 128, 1);
    --colour-grey-600: rgba(105, 101, 106, 1);
    --colour-grey-700: rgba(70, 67, 71, 1);
    --colour-grey-800: rgba(49, 46, 50, 1);
    --colour-grey-900: rgba(31, 29, 32, 1);
    --colour-grey-950: rgba(23, 21, 23, 1);
    --colour-grey-50: rgba(248, 248, 248, 1);
    --colour-brown-50: rgba(253, 248, 238, 1);
    --colour-brown-100: rgba(247, 238, 222, 1);
    --colour-brown-200: rgba(239, 210, 173, 1);
    --colour-brown-300: rgba(218, 169, 124, 1);
    --colour-brown-400: rgba(199, 142, 92, 1);
    --colour-brown-500: rgba(177, 111, 61, 1);
    --colour-brown-600: rgba(144, 86, 43, 1);
    --colour-brown-700: rgba(116, 69, 34, 1);
    --colour-brown-800: rgba(84, 47, 20, 1);
    --colour-brown-900: rgba(64, 36, 12, 1);
    --colour-brown-950: rgba(42, 24, 5, 1);

    --colour-theme-50: var(--colour-auberginee-50);
    --colour-theme-100: var(--colour-aubergine-100);
    --colour-theme-200: var(--colour-aubergine-200);
    --colour-theme-300: var(--colour-aubergine-300);
    --colour-theme-400: var(--colour-aubergine-400);
    --colour-theme-500: var(--colour-aubergine-500);
    --colour-theme-600: var(--colour-aubergine-600);
    --colour-theme-700: var(--colour-aubergine-700);
    --colour-theme-800: var(--colour-aubergine-800);
    --colour-theme-900: var(--colour-aubergine-900);
    --colour-theme-950: var(--colour-aubergine-950);

    font-family: "Bricolage Grotesque", sans-serif;
    font-synthesis: none;

    --inner-width: 56rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

::selection {
    background-color: var(--colour-theme-600);
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

em {
    color: var(--colour-theme-500);
}

a {
    color: inherit;
}

header.section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    width: 100%;
    padding: 0 calc((100% - var(--inner-width)) / 2);
    height: 18rem;
    overflow: hidden;

    color: var(--colour-theme-50);
    background-color: var(--colour-theme-400);

    h1 {
        grid-column: 1 / span 2;
        grid-row: 2;
        font-weight: 200;
        font-size: clamp(10rem, 20vw, 16rem);
        margin: 0;
        line-height: 1;
        place-self: end;
        margin-bottom: -0.2em;
        letter-spacing: -0.045em;
        user-select: none;
    }
}

nav.site {
    --fg: var(--nav-fg, var(--colour-theme-50));
    --text: var(--nav-text, var(--colour-theme-600));

    display: flex;
    width: max-content;
    height: min-content;
    border: 1px solid var(--fg);
    border-radius: 8px;
    overflow: hidden;
    gap: 1px;
    font-weight: 500;
    margin: 1.5rem 0;

    a {
        outline: 1px solid var(--fg);
        color: var(--fg);
        text-decoration: none;
        font-size: 0.9rem;
        padding: 0.4rem 0.5rem;

        &:hover {
            background-color: var(--fg);
            color: var(--text);
        }

        &:focus {
            background-color: var(--fg);
            color: var(--text);
        }
    }

    @media screen and (max-width: 64rem) {
        header.section > & {
            grid-column: 1 / span 2;
            justify-self: center;
        }
    }

    @media screen and (max-width: 30rem) {
        & > :not(:has(> b)) {
            display: none;
        }
    }
}

div.stuff {
    max-width: calc(var(--inner-width) + 2rem);
    padding: 0 1rem;
    margin: auto;
    margin-bottom: 2rem;

    font-size: 1.1rem;

    header + & {
        margin-top: 2rem;
    }
}

.prose,
div.stuff {
    color: var(--colour-grey-900);
    line-height: 1.5;

    h1,
    h2,
    h3,
    h4 {
        color: var(--colour-grey-950);
    }

    h1 {
        margin: 1rem -0.5em;
        margin-top: 2rem;
        text-transform: uppercase;
        font-size: 1rem;

        background-color: var(--colour-theme-600);
        color: var(--colour-theme-50);
        padding: 0 0.5em;
        border-radius: 2px;
    }

    h2 {
        margin: 1rem -0.5em;
        margin-top: 2rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;

        background-color: var(--colour-theme-100);
        color: var(--colour-theme-950);
        padding: 0 0.5em;
        border-radius: 2px;
    }

    p {
        margin: 0.5rem 0;
    }

    ul {
        padding-left: 1.5rem;
        list-style-type: "✻  ";

        ::marker {
            color: var(--colour-grey-600);
            padding-right: 2rem;
        }

        li + li {
            margin-top: 0.25rem;
        }
    }

    a {
        gap: 0.2rem;
        background-color: var(--colour-theme-700);
        color: white;
        padding: 0 0.25rem;
        border-radius: 4px;

        &:visited {
            background-color: var(--colour-theme-100);
            color: inherit;
        }
    }
}

p.callout {
    display: flex;
    flex-direction: column;
    background-color: var(--colour-theme-100);
    padding: 0.5rem 1rem;
    margin: 1rem -0.5rem !important;
    border-radius: 4px;

    .head {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 0.85rem;
        margin-top: 0.25rem;
    }
}
