---
title: blog
layout: layout.njk
theme: aubergine
head: |-
    <link rel="stylesheet" href="/assets/blog.css">
---

<header class="section">
    {% include "bits/navigation.njk" %}
    <h1>blog</h1>
</header>

<ul class="posts">
    {%- for post in collections.posts | reverse -%}
    <li>
        <a href="{{post.url | safe}}">
            <h2>{{ post.data.title }}</h2>
            <div class="details">
                <time datetime="{{ post.date.toUTCString() }}">{{ post.date.toDateString() }}</time>
            </div>
        </a>
    </li>
    {%- endfor -%}
</ul>