---
layout: layout.njk
theme: yellow
---

<header class="section" style="--nav-fg: black">
    {% include "bits/navigation.njk" %}
    <h1>outside</h1>
</header>

<div class="stuff">
    things here eventually. i'm waiting until i'm finished moving before i
    actually do anything outdoorsy.
</div>